* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  padding: 5%;
  background-color: lightgreen;
}

.identity {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  div:nth-child(2) {
    display: flex;
    justify-content: center;
  }
}

.identity__evolution {
  font-size: 0.8em;
}
.identity__name {
  font-size: 1.3em;
}
.identity__life {
  color: red;
  font-size: 1.2em;
}
.pokemon {
  border: 5px solid darkgoldenrod;
}
.characteristics {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  background-color: darkgoldenrod;
  margin: 0 15px;
}
.attack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.attack__cost {
  display: flex;
  justify-content: center;
  align-items: center;
}
.attack__description {
  font-size: 0.7em;
}
.stats {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.details {
  font-size: 0.8em;
  border: 1px solid darkgoldenrod;
}
